---
import store from "@/store/index";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import { PostList } from "@/components/landing/PostList";
import { Sections } from "@/components/landing/Sections";

// Get the home page content
const session = store.openSession();
const home = await session
  .query({ indexName: 'Content/ByUrl' })
  .whereEquals('url', Astro.url.pathname)
  .firstOrNull();

// Get all labels
const labels = await session.query({ collection: 'labels'}).all();

// Get selected posts
const sortedPosts = home.posts ? await session.advanced.rawQuery(home.posts.query).all() : [];
---

<BaseLayout>
  <Hero heading={home.heading} />
  <section>
    <div class="px-8 md:px-12 mx-auto max-w-7xl py-12 lg:px-32">
      <ol role="list" class="flex flex-wrap gap-3">
        {
          labels.map((tag) => (
            <li class="inline-flex items-center uppercase mx-auto hover:text-blue-500 text-xs font-medium text-black">
              <a href={`/tags/${tag.name}`}>{tag.name}</a>
            </li>
          ))
        }
      </ol>
      <PostList posts={sortedPosts} client:only />
    </div>
  </section>
  <Sections sections={home.sections} client:only />
</BaseLayout>
